@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
a:visited {
    color: black;
}

header {
    margin-top: 50px;
    background: #c0b4af;
    width: 100%;
}
h1 {
    margin: 0 auto;
    text-align: center;
}
.header-title {
    display: inline-block;
    padding: 5px 50px;
    background: white;
}
main {
    width: 1000px;
    margin: 50px auto;
}
.home-link {
    display: inline-block;
    padding: 7px;
    background: #d6ad98;
    border: 4px solid #9e9490;
    border-radius: 5px;
    transition: 0.2s;
}
.home-link:hover {
    background: #947b6b;
}
.container {
    margin-top: 10px;
    border: 4px solid #9e9490;
    border-radius: 5px;
}
.row {
    display: flex;
}
.row:nth-child(even) {
    background: #c0b4af;
}
.row-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #9e9490;
    margin: 5px 0;
}
.row-item:last-child {
    border-right: none;
}
.title {
    font-size: large;
}
.tasks, .mark {
    white-space: nowrap;
    padding: 5px 15px;
}
.mark {
    justify-content: space-between;
}
.delete-link {
    padding: 5px 10px;
    border-radius: 5px;
    background: #d88b64;
    transition: 0.2s;
}
.delete-link:hover {
    background: #9a6747;
}
.action-link {
    padding: 5px 10px;
    border-radius: 5px;
    background: #a29e9e;
    transition: 0.2s;
}
.action-link:hover {
    background: #777474;
}
.form-container {
    width: 1000px;
    margin: 50px auto;
}
form {
    display: flex;
}
form input, form button {
    margin-right: 20px;
    padding: 10px;
}
input, button {
    font-size: x-large;
}